* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.menu {
    display: none;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    padding: 30px;
    color: white;
}

.nav-link:hover {
    color: red;
}

.nav-link {
    transition: .5s;
}


@media screen and (max-width: 768px) {
     
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 35px;
        left: 0;
        background: black;
        text-align: center;
    }

    .menu {
        cursor: pointer;
        display: block;
    }

    .menu span {
        background-color: white;
        display: block;
        height: 2px;
        width: 20px;
        margin: 6px;
    }

    .nav-menu.show {
        display: flex;
    }
}